@use '../../../../../styles/variables' as v;

.appointment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__part-one {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 3rem;

    &__date {
      display: flex;
      flex-direction: column;

      &-day {
        font-weight: 700;
      }
      &-month {
        font-size: 0.9rem;
        font-weight: 700;
        color: v.$color-text-grey;
      }
    }

    &__hours {
      display: flex;
      flex-direction: column;
      align-items: start;

      &-title {
        font-size: 1rem;
        font-weight: 700;
      }
      &-hour {
        font-size: 0.9rem;
        font-weight: 700;
        color: v.$color-text-grey;
      }
    }
  }

  &__part-two {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 5rem;

    &__state {
      font-weight: 700;
      font-size: 1rem;
      // border: 1px solid black;
      border-radius: 12px;
      padding: 0.4rem 0.8rem;
      color: #7d7f85;
    }

    &__price {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
  &--modify {
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
    color: v.$color-text;
    transition: all 0.3s linear;

    &:hover {
      color: v.$color-text-paragraphe;
    }
  }
}

.booked,
.done {
  background-color: #ebf8ef;
}

.cancelled {
  background-color: #f8ebeb;
  color: #f55e22;
}
