@use 'reset';
@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'EB Garamond', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  background-color: v.$color-bg;
  color: v.$color-text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 3rem;
}

p,
div,
section,
li {
  font-size: 1.4rem;
  font-weight: 400;
}

section {
  margin: 3rem 0;
}

p {
  line-height: 1.6rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: v.$color-text-paragraphe;
}
