.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  &__logo {
    max-height: 65px;
  }

  &__buttons-container {
    display: flex;
    flex-direction: column-reverse;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
  }
}
