.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;

  &__logo {
    max-height: 80px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
  }
}
